/* src/components/Auth.css */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f2f5; /* Color de fondo gris claro */
}

.auth-card {
  background: white;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.input-group {
  text-align: left;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.input-group input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 0.5rem;
}

.btn-auth {
  width: 100%;
  padding: 0.75rem;
  background: #1a73e8; /* Azul Mediflow */
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}